:root {
    --color-black: #1b1610;
    --color-white: #fbf7f2;
    --color-beige: #fff5e1;
    --color-darkgrey: #504840;
    --color-grey: #72706d;
    --color-lightgrey: #c9c7c6;
    --color-brand-light: #3fc3c8;
    --color-brand: #319da0;
    --color-brand-dark: #206365;
    --color-primary: #ffd39a;
    --color-highlight: #781c68;
    --font-family: "Roboto", Arial, Helvetica, sans-serif;
    --font-alt: "Righteous", cursive, serif;
    --font-size: 20px;
    --line-height: 1.2;
    --spacer: 1rem;
    --spacer-small: 0.5rem;
    --button-bg: var(--color-brand);
    --button-color: var(--color-white);
    --radius: 3px;
    --shadow: 0 4px 8px var(--color-black);
    --transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* * {
    border: 1px solid red;
} */
